body {
  font: 16px "PT Sans",sans-serif;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  color: #006167;
}

a, a:hover {
  color: #f47730;
}

hr {
  border-color: #efefef;
}

.nowrap { white-space: nowrap; }

.notes p, .notes li {
  color: #999;
  font-size: .8em;
}


.no-pad-top{
  padding-top: 0px;
  margin-top: 0px;
}
.text-xs{
  font-size: 10px;
}




.well{
  border: none;
  box-shadow: none;
  border-radius: 0px;
}
.well-occ-inactive{
  background-color: #f3f1f1;
  height: 160px;
  margin: 0px 18px;
}
.well-occ-active{
  background-color: #006167;
  height: 160px;
  margin: 0px 18px;
}
#sel-occ-name{
  color: #fff;
}
#sel-occ-desc{
  color: #c0bebe;
}


/* footer */
#footer{
  padding: 10px 20px;
  border-top: 1px solid #eee;
}
.footer-brand { margin-bottom: 10px;}



/* nav bar */
#navbar{
  background-color: #5a5858;
  padding: 4px 0px;
  height: 40px;
}
#site-title{
  color: #fff;
  font-size: 26px;
}



/* top control pane */
#control-pane{
  background-color: #f3f1f1;
  padding: 4px 0px;
  height: 58px;
}
#control-pane h3{
  color: #fff;
}
#control-pane h5{
  color: #A0A09D;
}
#current-location-name{
  color: #FBAB18;
  font-size: 26px;
  font-weight: 700;
  padding-top: 0px;
  margin-bottom: 0px;
}
#breadcrumbs{
  margin-bottom: 0px;
  font-size: 11px;
  color: #C0BEBE;
}
#breadcrumbs a{
  color: #C0BEBE;
}
#control-pane .dropdown-toggle{
  margin-top: 6px;
  border: none;
  background-color: #f47730;
  color: #fff;
}



/* location select dropdown */
#location-select-list>li>a {
  padding-top: 0px;
  padding-bottom: 0px;
}
#location-select-list .option-nation{
  padding-left: 10px;
  font-size: 12px;
  font-weight: 700;
}
#location-select-list .option-region{
  padding-left: 20px;
  font-size: 12px;
}
#location-select-list .option-lep{
  padding-left: 30px;
  font-size: 10px;
}



/* buttons */
#education-select{
  position: relative;
  top: 30px;
  right: 10px;
  z-index: 1;
}
#education-select .btn{
  border: 1px solid #5A5858;
  color: #5A5858;
  padding: 2px 4px;
  font-size: 10px;
}
#education-select .btn.selected, #education-select .btn:hover{
  background-color: #5A5858;
  color: #fff;
}

.btn, .btn:hover{
  margin: 0px;
  text-transform: none;
  font-weight: normal;
  font-size: 15px;
}
.btn-info{
  border: 1px solid #f47730;
  background-color: inherit;
  color: #f47730;
}
.btn-info:hover{
  border: 1px solid #fbab18;
  background-color: inherit;
  color: #fbab18;
}
.btn-default{
  border: 1px solid #006167;
  background-color: inherit;
  color: #006167;
}
.btn-default:hover{
  border: 1px solid #006167;
  background-color: #006167;
  color: #fff;
}




/* charts */
.chart-title{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0px;
}


#bar-demand {
  min-width: 200px; 
  height: 500px;
  max-width: 800px; 
  margin: 0 auto;
}

#scatter-comp {
  min-width: 200px; 
  height: 300px; 
  max-width: 800px; 
  margin: 0 auto;
}



/* map stuff */
.info h4 {
  font-size: 18px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#occupation-detail-map{
  height: 400px;
  width: 100%
}

.leaflet-google-layer{
    z-index: 0;
}
.leaflet-map-pane{
    z-index: 100;
}
.leaflet-google-layer .leaflet-zoom-anim, .leaflet-google-layer .leaflet-zoom-animated {
    transition-property: none!important;
    -webkit-transition-property: none!important;
    -webkit-animation: none!important;
    animation: none!important;
}
.leaflet-container{
  background-color: inherit;
}
.info.leaflet-control {
    font-family:'Montserrat',sans-serif;
    background-color: #fff;
    padding: 0 10px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}








.non-desktop-only{
  display: none;
}



/* medium screens */
@media only screen and (max-width : 767px) {
  .desktop-only{
    display: none;
  }
  .non-desktop-only{
    display: inline;
  }

  .chart-col{
    padding-left: 0px;
    padding-right: 0px;
  }
}