body {
  font: 16px "PT Sans",sans-serif;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  color: #006167;
}

a, a:hover {
  color: #f47730;
}

hr {
  border-color: #efefef;
}

.nowrap { white-space: nowrap; }

.notes p, .notes li {
  color: #999;
  font-size: .8em;
}


.chart-title{
  font-weight: 700;
  font-size: 18px;
}






/* top control pane */
#control-pane{
  background-color: #5a5858;
  padding: 4px 0px;
  height: 58px;
}
#control-pane h3{
  color: #fff;
}
#control-pane h5{
  color: #A0A09D;
}
#site-title{
  color: #fff;
}
#current-location-name{
  color: #FBAB18;
  font-size: 26px;
  font-weight: 700;
  padding-top: 0px;
  margin-bottom: 0px;
}
#breadcrumbs{
  margin-bottom: 0px;
  font-size: 11px;
  color: #C0BEBE;
}
#breadcrumbs a{
  color: #C0BEBE;
}
#control-pane .dropdown-toggle{
  margin-top: 6px;
  border: none;
  background-color: #C0BEBE;
  color: #5A5858;
}




/* location select dropdown */
#location-select-list>li>a {
  padding-top: 0px;
  padding-bottom: 0px;
}
#location-select-list .option-nation{
  padding-left: 10px;
  font-size: 12px;
  font-weight: 700;
}
#location-select-list .option-region{
  padding-left: 20px;
  font-size: 12px;
}
#location-select-list .option-lep{
  padding-left: 30px;
  font-size: 10px;
}






#education-select{
  text-align: center;
}


.btn, .btn:hover{
  margin: 0px;
  text-transform: none;
  font-weight: normal;
  font-size: 15px;
}
.btn-info{
  border: 1px solid #f47730;
  background-color: inherit;
  color: #f47730;
}
.btn-info:hover{
  border: 1px solid #fbab18;
  background-color: inherit;
  color: #fbab18;
}
.btn-default{
  border: 1px solid #006167;
  background-color: inherit;
  color: #006167;
}
.btn-default.selected, .btn-default:hover{
  border: 1px solid #006167;
  background-color: #006167;
  color: #fff;
}




/* charts */
#bar-demand {
  min-width: 200px; 
  height: 600px; 
  max-width: 800px; 
  margin: 0 auto;
}
#salary-chart {
  min-width: 200px; 
  height: 600px; 
  max-width: 800px; 
  margin: 0 auto;
}
#comp-chart {
  min-width: 200px; 
  height: 600px; 
  max-width: 800px; 
  margin: 0 auto;
}

#scatter-demand {
  min-width: 200px; 
  height: 300px; 
  max-width: 800px; 
  margin: 0 auto;
}

#scatter-comp {
  min-width: 200px; 
  height: 300px; 
  max-width: 800px; 
  margin: 0 auto;
}

.info h4 {
  font-size: 18px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}



#occupation-detail-map{
  height: 400px;
  width: 100%
}



.leaflet-google-layer{
    z-index: 0;
}
.leaflet-map-pane{
    z-index: 100;
}

.leaflet-google-layer .leaflet-zoom-anim, .leaflet-google-layer .leaflet-zoom-animated {
    transition-property: none!important;
    -webkit-transition-property: none!important;
    -webkit-animation: none!important;
    animation: none!important;
}

.leaflet-container{
  background-color: inherit;
}

.info.leaflet-control {
    font-family:'Montserrat',sans-serif;
    background-color: #fff;
    padding: 0 10px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}




#footer{
  padding: 10px 20px;
  border-top: 1px solid #eee;
}
.footer-brand { margin-bottom: 10px;}


table {
  background: #fff;
  font-size: 12px;
}

table tr th, table tr td {
  color: #222;
  text-align: left;
  padding: 5px 7px;
}
table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #f9f9f9;
}
table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
  display: table-cell;
}



.non-desktop-only{
  display: none;
}



/* medium screens */
@media only screen and (max-width : 767px) {
  .desktop-only{
    display: none;
  }
  .non-desktop-only{
    display: inline;
  }

  .chart-col{
    padding-left: 0px;
    padding-right: 0px;
  }
}