html{
  height: 100%;
}
body {
  height: 100%;
  font: 16px "Source Sans Pro",sans-serif;
  font-weight: 400;
  background: #2c3e50;
  color: #bdc3c7;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  color: #FBAB18;
}

a, a:hover, a:active, a:visited {
  color: #f47730;
}

hr {
  border-color: #34495e;
}





.label-very-high{
  background-color: #38925e;
  color: #fff;
}
.label-high{
  background-color: #83A540;
  color: #fff;
}
.label-medium{
  background-color: #baa242;
  color: #fff;
}
.label-low{
  background-color: #ba7639;
  color: #fff;
}
.label-very-low{
  background-color: #9e4940;
  color: #fff;
}


.opaque{
  opacity: 1 !important;
}

.text-info, .text-info:hover{
  color: #fbab18;
}


.nowrap { white-space: nowrap; }

.notes p, .notes li {
  color: #999;
  font-size: .8em;
}

.chart-col{
  padding-left: 6px;
  padding-right: 6px;
}


.no-pad-top{
  padding-top: 0px;
  margin-top: 0px;
}
.no-pad-bottom{
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.text-xs{
  font-size: 10px;
}


.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip-inner {
  min-width: 360px;
  background-color: #baccd8;
  color: #2c3e50;
  text-align: left;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #baccd8;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #baccd8;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #baccd8;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #baccd8;
}


.well{
  background-color: #34495e;
  border: none;
  box-shadow: none;
  border-radius: 0px;
}
.well h3{
  margin-top: 0px;
}

/* occupation pane */
.well-occ-inactive{
  background-color: #34495e;
  margin: 0px;
}
.well-occ-active{
  background-color: #baccd8;
  color: #2c3e50;
  margin: 0px;
}
#occ-detail{
  height: 100%;
}
.no-pad-left{ /*fighting bootstrap to get more space into the occupation box*/
  padding-left: 0px;
}
.no-pad-right{
  padding-right: 0px;
}
#close-occ{
  color: #f47730;
}
#close-occ:hover{
  cursor: pointer;
}
#occ-bottom{
  margin-top: 14px;
}

/*making some more space for the families*/
#family1{
  padding-right: 0px;
}
#family2{
  padding-left: 10px;
  padding-right: 5px;
}
#family3{
  padding-left: 5px;
  padding-right: 10px;
}
#family4{
  padding-left: 0px;
}

.job-family{
  text-align: center;
  margin-top: 14px;
  padding-top: 10px;
  padding-left:2px;
  padding-right: 2px;
  margin-bottom: 14px;
  background-color: #c4d4de;
  border-radius: 6px;
  min-height: 100px;
}
.job-family:hover{
  cursor: pointer;
  background-color: #e2be7c;
}
.job-family.selected{
  background-color: #fbab18;
}
.job-family .job-family-name{
  margin-top: 4px;
  font-size: 12px;
}


#sel-occ-name{
  font-size: 14px;
  color: #ecf0f1;
  border-bottom: 3px solid #ecf0f1;
}
#sel-occ-desc{
  color: #c0bebe;
}


.occ-rank{
  font-size: 10px;
  margin-bottom: 5px;
}
.occ-figure small{
  font-size: 10px;
}
.occ-figure{
  font-size: 14px;
}
.occ-figure-title{
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 20px;
}

.occ-xs{
  font-size: 9px;
  font-weight: 200px;
  margin-bottom: 0px;
  margin-top: -2px;
}

.label-occ{
  font-size: 20px;
  margin-bottom: 6px;
}
.label-occ span{
  padding-left: 2px;
  padding-right: 2px;
}



/* footer */
#footer{
  clear: both;
  padding: 6px 0px;
  margin-top: 24px;
  font-size: 10px;
  background: #fff;
}
.footer-brand {
  height: 28px;
  margin-right: 20px;
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
/* Disable grayscale on hover */
.footer-brand:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
.footer-brand.smaller {
  padding-bottom: 4px;
  padding-top: 2px;
}



/* nav bar */
#navbar{
  background-color: #baccd8;
  padding: 8px 0px;
  height: 42px;
}
#site-title{
  color: #2c3e50;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}
#nav-subtitle{
  font-weight: 400;
  font-size: 14px;
}
#navbar .nav-item{
  color: #2c3e50;
  margin: 2px 8px;
  font-size: 16px;
}



/* top control pane */
#control-pane>.row>div{
  border-bottom: 2px solid #34495e;
}
#control-pane-content{
  padding: 8px 0px;
}
#control-pane h3{
  color: #fff;
}
#control-pane h5{
  color: #A0A09D;
}
#current-location-name{
  color: #FBAB18;
  font-size: 26px;
  font-weight: 700;
  padding-top: 0px;
  margin-bottom: 0px;
  line-height: 22px;
}
#current-location-name small{
  font-size: 60%;
}
#breadcrumbs{
  margin-bottom: 0px;
  font-size: 11px;
  color: #bdc3c7;
}
#breadcrumbs a{
  color: #bdc3c7;
}
#location-dropdown-menu{
  border: 1px solid #f47730;
  background-color: #f47730;
  color: #2c3e50;
  padding: 1px 8px;
  margin-right: 6px;
  margin-top: -22px;
  display: inline-block;
}
#location-dropdown-menu.muted{
  background-color: inherit;
  color: #f47730;
}
#current-location-div, #dropdown-div{
  display: inline-block;
}



/* location select dropdown */
#location-select-list{
  border: 1px solid #2c3e50;
  border-radius: 0px;
  background-color: #34495e;
}
#location-select-list>li>a {
  color: #FBAB18;
  padding-top: 0px;
  padding-bottom: 0px;
}
#location-select-list>li>a:hover{
  color: #f47730;
}
#location-select-list .option-nation{
  padding-left: 10px;
  font-size: 12px;
  font-weight: 700;
}
#location-select-list .option-region{
  padding-left: 20px;
  font-size: 12px;
}
#location-select-list .option-lep{
  padding-left: 30px;
  font-size: 10px;
}



/* buttons */
.btn, .btn:hover{
  margin: 0px;
  text-transform: none;
  font-size: 15px;
  font-weight: 400;
}
.btn-info, .btn-info:active, .btn-info:visited{
  border: 2px solid #f47730;
  background-color: inherit;
  color: #f47730;
}
.btn-info:hover{
  border: 2px solid #fbab18;
  background-color: inherit;
  color: #fbab18;
}
.btn-default{
  border: 1px solid #154779;
  background-color: inherit;
  color: #154779;
}
.btn-default:hover{
  border: 1px solid #154779;
  background-color: #154779;
  color: #fff;
}


/* page layout */
#main-content{
  height: calc(100% - 150px);
  min-height: 560px;
}
#main-content .row{
  height: calc(100% - 55px);
}
#main-content .row .chart-col{
  height: calc(100% - 20px);
}
#occ-info-pane{
  height: 180px;
}
#below-occ-info-pane{
  padding-top: 20px;
  height: calc(100% - 180px); /*subtract height of occ-info-pane & padding*/
}



/* charts */
.chart-title{
  color: #ecf0f1;
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 0px;
}
.chart-subtitle{
  font-size: 14px;
  margin-bottom: 0px;
}
.chart-subtitle a{
  color: inherit;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.chart-subtitle a:hover{
  color: #ecf0f1;
  cursor: pointer;
}



#bar-demand {
  min-width: 200px; 
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
}

#scatter-comp {
  min-width: 200px; 
  height: 100%;
  max-width: 800px; 
  margin: 0 auto;
}

.highcharts-tooltip span {
  height:auto;
  width:240px;
  white-space:normal !important; /*this is required to get tooltip contents to wrap*/
}
.highcharts-tooltip table{
  width: 240px;
}

#scatter-note{
  max-width: 160px;
  font-size: 11px;
  color: #fbab18;
  display: none;
  position: relative;
  top: -85px;
  right: 10px;
  z-index: 2;
}

#default-location{
  color: #bdc3c7;
}
#helper-location{
  color: #fbab18;
}





.helper{
  display: inline-block;
  color: #2c3e50;
  font-size: 14px;
}

#helper-job-family {
  display: none;
}
#helper-occupation{
  display: none;
  position: relative;
  top: -345px;
  z-index: 3;
}
#helper-map{
  display: none;
  margin-left: 8px;
}

.hint{
  position: relative;
  background: #fbab18;
  padding: 6px;
}
.hint:after{
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(251, 171, 24, 0);
  border-width: 8px;
}
.hint-right:after {
  right: 100%;
  top: 50%;
  border-right-color: #fbab18;
  margin-top: -8px;
}
.hint-bottom:after {
  bottom: 100%;
  left: 50%;
  border-bottom-color: #fbab18;
  margin-left: -8px;
}




.modal-header {
  background-color: #2C3E50;
}

.modal-title {
  color: #ecf0f1;
  font-size: 16px;
}

.modal-header .close {
  color: #ecf0f1;
  opacity: 1;
  text-shadow: none;
}


.modal-body {
  color: #777;
}

/* map stuff */
.info h4 {
  font-size: 18px;
  color: #777;
}

.info {
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#occupation-detail-map{
  height: 400px;
  width: 100%
}
#map-helper{
  font-size: 14px;
  color: #fbab18;
}

.leaflet-container{
  background-color: inherit;
}
.info.leaflet-control {
    font-family:"Source Sans Pro",sans-serif;
    background-color: #fff;
    padding: 0 10px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* education toggle */
#selected-edu{
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #fbab18;
  -moz-text-decoration-color: #fbab18;
  font-size: 14px;
  color: #bdc3c7;
}
#edu-dropdown{
  display: inline-block;
}
#edu-dropdown-menu i{
  color: #f47730;
}
#edu-dropdown-menu{
  padding-right: 2px;
  font-size: 10px;
}
#edu-dropdown-menu:hover{
  cursor: pointer;
  text-decoration: none;
}
#edu-select-list{
  border: none;
  border-radius: 0px;
  float: right;
  text-align: left;
  font-size: 12px;
  padding: 4px 6px;
  min-width: 110px;
  background-color: #2c3e50;
}
#edu-select-list li:hover{
  cursor: pointer;
  color: #FBAB18;
}







.non-desktop-only{
  display: none;
}



/* small screens (less than ipad, collapsed into one col) */
@media only screen and (max-width : 767px) {
  .desktop-only{
    display: none;
  }
  .non-desktop-only{
    display: inline;
  }

  #bar-demand-mobile{
    height: 500px;
  }
  #scatter-comp-mobile{
    height: 300px;
  }

  /* page layout */
  #main-content{
    min-height: 1300px;
  }


  .nav-item{
    margin-left: 0px;
    margin-top: 0px;
    font-size: 12px;
    line-height: 12px;
  }
  #navbar{
    padding: 4px 0px;
    height: 32px;
  }

  #location-dropdown-menu{
    padding: 0px 6px;
    margin-top: -16px;
    font-size: 12px;
    margin-right: 2px;
  }
  #breadcrumbs{
    font-size: 9px;
  }
  #current-location-name{
    font-size: 18px;
    line-height: 18px;
  }



  .tooltip-inner {
    min-width: 320px;
  }

  .occ-figure-title{
    font-size: 11px
  }
  .occ-figure{
    font-size: 11px;
  }

  .job-family{
    font-size: 12px;
  }
  .job-family .job-family-name{
    font-size: 10px;
  }


  .chart-title{
    font-size: 26px;
  }
  .chart-subtitle, #selected-edu{
    font-size: 12px;
  }
  
  #occupation-detail-modal .modal-header{
    padding: 6px;
  }
  #occupation-detail-modal .modal-body{
    font-size: 12px;
    padding: 6px;
  }
  #occupation-detail-title{
    font-size: 14px;
  }
  #occupation-detail-map{
    height: 320px;
  }
  .info.leaflet-control{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
    margin:0px;
    font-size: 8px;
    line-height: 12px;
  }
  .legend i{
    width:12px;
    height:12px;
    margin-right: 4px;
  }
  .info.leaflet-control h4{
    font-size: 12px;
  }
  #legend-occupation{
    display: none;
  }



  .footer-brand{
    height: 22px;
    margin-right: 16px;
  }

}

/* large screens */
@media (min-width: 992px) {

  #sel-occ-name{
    font-size: 18px;
  }


  .label-occ{
    font-size: 22px;
  }

}

/* very large screens */
@media (min-width: 1200px) {

  body{
    font-size: 18px;
  }


  .chart-title{
    font-size: 22px;
  }
  .chart-subtitle{
    font-size: 18px;
  }
  #selected-edu, #edu-select-list>li{
    font-size: 18px;
  }



  #sel-occ-name{
    font-size: 20px;
  }

  .occ-figure-title{
    font-size: 18px;
  }
  .label-occ{
    font-size: 24px;
  }

}